
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<style>
.text{font-size: 40px;}
.top{background: #ED534F; }
.sides{
  padding-left: 50px;
  padding-right: 50px;
  
  margin-top: 50px;
}
.mymenu{margin-top: 20px;}
.mymenu .navbar-default{background: none;
border: none;}
@media(max-width: 1200px)
{
  .mymenu .pull-right{float: none!important;}
}
#mynavbar .navbar-nav a {
    color: #F1F1F1;
}
.logo{
  color: #F1F1F1;
  padding-left: 50px;
  padding-top: 15px;
}

/* visited link */






</style>

<div class = "container-fluid top">
  <div class = "row">
    <div class = "col-sm-6 col-xs-12">
     <h1 class="logo">Suggest me!</h1>
      
    </div>
    <div class = "col-sm-6 mymenu">
    <nav class = "navbar navbar-default">
    <div class = "navbar-header">
    <button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target = "#mynavbar">
      <span class = "icon-bar"></span>
      <span class = "icon-bar"></span>
      <span class = "icon-bar"></span>
    </button>
    </div>
    <div class = "collapse navbar-collapse" id = "mynavbar">

    <ul class = "nav navbar-nav pull-right "> 

      <li><a href="/">Home</a></li>
      
      <li><a href="/about">About</a></li>
       
              



    </ul>
    </div>
    </nav>
    </div>

    
  </div>
</div>





