<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<style>
	.greetings{
		padding-top: 20px;

	}
	.welcome{
		color:000000;
		font-size: 50px;
	}
	.w3-button {width:150px;}
	
</style>
<body>
<div>
	 {% include 'include/navbar.html' %}
</div>
<div class="container greetings">
	<div class="row">
		<div class="col-xs-12">
			<center class="welcome"><b>Contact</b></center>
		</div>
	</div>
</div>
<hr>
</body>
</html>