<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<style>
	.greetings{
		padding-top: 20px;

	}
	.welcome{
		color:000000;
		font-size: 50px;
	}
	.w3-button {width:150px;}
	
</style>
<body>
<div>
	 {% include 'include/navbar.html' %}
</div>
<div class="container greetings">
	<div class="row">
		<div class="col-xs-12">
			<center class="welcome"><b>Welcome</b></center>
		</div>
	</div>
</div>
	<hr>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<center><h1>Categories</h1></center>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-3 col-xs-12">
			 <center><a href="/social"><button class="w3-button w3-black w3-round-xxlarge">Social Media</button></a></center><br>
		</div>
		<div class="col-sm-3 col-xs-12">
			 <center><a href="/politics"><button class="w3-button w3-black w3-round-xxlarge">Politics</button></a></center><br>
		</div>
		<div class="col-sm-3 col-xs-12">
			 <center><a href="/movies"><button class="w3-button w3-black w3-round-xxlarge">Movies</button></a></center><br>
		</div>
		<div class="col-sm-3 col-xs-12">
			 <center><a href="/env"><button class="w3-button w3-black w3-round-xxlarge">Environment</button></a></center><br>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-3 col-xs-12">
			 <center><a href="/internet"><button class="w3-button w3-black w3-round-xxlarge">Internet</button></a></center><br>
		</div>
		<div class="col-sm-3 col-xs-12">
			 <center><a href="/reservation"><button class="w3-button w3-black w3-round-xxlarge">Reservation</button></a></center><br>
		</div>
		<div class="col-sm-3 col-xs-12">
			 <center><a href="/education"><button class="w3-button w3-black w3-round-xxlarge">Education</button></a></center><br>
		</div>
		<div class="col-sm-3 col-xs-12">
			 <center><a href="/corruption"><button class="w3-button w3-black w3-round-xxlarge">Corruption</button></a></center><br>
		</div>
	</div>
</div>
</body>
</html>